* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #e3e6e6;
}

/* NAVBAR */
nav {
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo img {
  width: 100px;
}

/* SEARCH */
.search_box {
  display: flex;
  width: 50%;
}

.search_box input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
}

.search_box button {
  background: orange;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* RIGHT NAV */
.nav-right {
  display: flex;
  gap: 15px;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 300px;
  background: url("https://images.unsplash.com/photo-1607083206968-13611e3d76db") no-repeat center/cover;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin: 10px 0;
}

.card a {
  text-decoration: none;
  color: #007185;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #232f3e;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}